* {
    margin: 0;
    padding:0;
}

#bodyMain {
    overflow: hidden;
    width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
    height: 100%;
    position: absolute;
    background-image: url('https://i.ibb.co/vhHMcsk/51283wide.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container {
    width: 1000px;
    height: 2000px ;
    position: relative;
    right: 100px;
	margin: 0px auto 0px auto;
    background-color: rgba(99, 132, 150, 0.884);
    background-repeat: no-repeat;
    box-shadow: 2px 2px 2px rgba(167, 165, 165, 0.781);
}


.topo {
    position: relative;
	margin: 0px auto 25px auto;
    width: 950px;/* 1250 */
    height: 40px;
    background-color: rgb(5, 116, 175);
    box-shadow: 2px 2px 2px rgba(167, 165, 165, 0.781);
}

#topo span .see-all{
    position: relative; 
    width: 40px;
    font-size: 18px;
    bottom: 20px;
    left: 880px;
    color: black;
    background-color: rgb(0, 51, 75);
}



h2{
    width: 180px;/* 1250 */
    height: 30px;
    background-color:  rgb(0, 51, 75);
	position: relative;
	padding-left: 5px;
	left: 15px;
	top: 5px;
    font-variant-position: 10px;
    text-align: center;
}

.items{
    position: relative;
    bottom: 20px;
    background-color: rgb(59, 68, 88);
	margin: auto auto 0 auto;
    width: 950px;/* 1250 */
    height: 400px;
}

.movie{
    position: relative;
    margin: 10px 5px 10px 5px;
    width: 120px;
    height: 160px;
    background-color: slategray;
    float: left;

    
}

.movie .data h3{
    position: relative;
    bottom: 2.5px;
    font-size: 14px;
    text-align: center;
    margin: auto;
    background-color: rgba(74, 75, 80, 0.938);
    font-style: normal;
}

.movie .poster img{
    width: 115px;
    height: 140;
    padding-left: 2.5px;
    padding-top: 2.5px;
}



.link_data {
    color: black;
    font-size: 12;
}