* {
    margin: 0;
    padding:0;
}

#bodyMain {
    overflow: hidden;

    width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
    height: 100%;
    position: absolute;
    background-image: url('https://i.ibb.co/vhHMcsk/51283wide.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.quadro{
    width: 967px;
    height: 400px;
    background-color: rgba(2, 2, 2, 0.76);
    box-shadow: 2px 2px 3px 1px rgb(17, 17, 17);
    position: absolute; 
    display: flex;
    padding: 1em;
}




.imagem{
    margin-left: 5px;
    margin-top: 40px;
    width: 220px;
    height: 320px;

}

.imagem img{
    width: 200px;
    height: 280px;
}

.sinopse{
    margin-top: 40px;
    margin-left: 10px;
    flex-grow: 1;
    padding: 5px;
    box-shadow: 1px 1px 3px 1px rgba(146, 146, 146, 0.514);
    color: rgba(255, 255, 255, 0.74);
    float: right;
    width: 500px;
    height: 280px;
    font-size: 18px;
}

.f_nome{
    font-family: Verdana;
    text-align: center;
}

