#tela{
    height: 2000px;
}


header#cabecalho{
    margin: -14px auto 30px auto;   
    height: 80px;
    background-repeat: no-repeat;
    
   /* background-color: rgb(255, 255, 255); */
    box-shadow: 2px 2px 2px rgba(167, 165, 165, 0.781);
}

header#cabecalho img{ /* a imagem da lupa*/
    position: relative;
    width: 25px;
    top: -2px;
    left: 602px;
}
::placeholder{ /* mudando a cor dos text, esta geral*/
    color: white;

}

#workspace {
    width: 1250px;
    height: 650px;
    background-color: rgba(125, 154, 172, 0.644);
    margin: auto auto 30px auto;
}

nav#menu {
  display: block;
}

nav#menu ol{
    position: relative;
    list-style: none;
    top: 30px;
    
}

nav#menu li{
    position: relative;
    display: inline-block;
    background-color:  rgba(18, 56, 68, 0.932);
    color: white;
    padding: 4px;
    border-radius: 4px;
}
nav#menu li:hover{
    background-color:  rgba(23, 72, 87, 0.938);
}

a{
    color: rgba(245, 245, 245, 0.658);
    text-decoration: none;
}

nav#menu a{
    color: white;
}

nav#menu li#btn_login{ /* ajustando o botão de login no canto superior*/
    left: 900px; /* 800 */
    border-radius: 10px;
    width: 60px;
    text-align: center;
}


nav#menu input#txtFld_pesquisar{ /* caxa de pesquisa*/
    position: relative;
    top: -10px;
    left: 600px;
    border-radius: 3px;
    border-color: rgba(99, 97, 97, 0.692);
    width: 200px;
    height: 20px;
    background: transparent;
}


ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}

ul #user_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}



li.liMenu a{
    background-color: rgba(51, 94, 223, 0.795);
    width: 200px;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

/*Esse hover ira mudar a cor quando passar o mouse*/
li.liMenu a:hover {
    background-color: #00008B;
    color: white;
}

#user_nav{
    position: relative;
    top: 5px;
    left: 10px;
    float: left;
    box-shadow: 2px 2px 2px rgba(167, 165, 165, 0.781);
}

.user_area{
    text-align: center;
    position: relative;
    top: 5px;
    left: 40px;
    width: 950px;
    height: 1250px;
    background-color: rgb(66, 106, 151);
    float: left;
    box-shadow: 2px 2px 2px rgba(167, 165, 165, 0.781);
}

#filme_edit{
    position: relative;
    left: 20px;
    bottom: 10px;
    width: 500px;
    height: 400px;
    background-color: rgba(192, 192, 192, 0.788);
}

#livro_edit{
    position: relative;
    left: 20px;
    bottom: 10px;
    width: 500px;
    height: 400px;
    background-color: rgba(192, 192, 192, 0.788);
}

table{
    position: relative;
    left: 35px;
    border: 5px;
    border-color: #000;
    overflow: auto;
}

.tdth_normal{
    width: 100px;
    height: 5px;
}

.del, #edit{
    width: 20px;
    height: 5px;
}









