#tela{
    height: 760px;
}


header#cabecalho{
    margin: -14px auto 30px auto;   
    height: 80px;
    background-repeat: no-repeat;
    
   /* background-color: rgb(255, 255, 255); */
    box-shadow: 2px 2px 2px rgba(167, 165, 165, 0.781);
}

header#cabecalho img{ /* a imagem da lupa*/
    position: relative;
    width: 25px;
    top: -2px;
    left: 602px;
}
::placeholder{ /* mudando a cor dos text, esta geral*/
    color: white;

}

#workspace {
    width: 1250px;
    height: 650px;
    background-color: rgba(125, 154, 172, 0.644);
    margin: auto auto 30px auto;
}

nav#menu {
  display: block;
}

nav#menu ol{
    position: relative;
    list-style: none;
    top: 30px;
    
}

nav#menu li{
    position: relative;
    display: inline-block;
    background-color:  rgba(18, 56, 68, 0.932);
    color: white;
    padding: 4px;
    border-radius: 4px;
}
nav#menu li:hover{
    background-color:  rgba(23, 72, 87, 0.938);
}

a{
    color: rgba(245, 245, 245, 0.658);
    text-decoration: none;
}

nav#menu a{
    color: white;
}

nav#menu li#btn_login{ /* ajustando o botão de login no canto superior*/
    left: 900px; /* 800 */
    border-radius: 10px;
    width: 60px;
    text-align: center;
}


nav#menu input#txtFld_pesquisar{ /* caxa de pesquisa*/
    position: relative;
    top: -10px;
    left: 600px;
    border-radius: 3px;
    border-color: rgba(99, 97, 97, 0.692);
    width: 200px;
    height: 20px;
    background: transparent;
}


ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}

ul #user_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}



li.liMenu a{
    background-color: rgb(66, 106, 151);
    width: 200px;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

/*Esse hover ira mudar a cor quando passar o mouse*/
li.liMenu a:hover {
    background-color: rgba(116, 125, 150, 0.795);
    color: white;
}

#user_nav{
    position: relative;
    top: 5px;
    left: 10px;
    float: left;
    box-shadow: 2px 2px 2px rgba(167, 165, 165, 0.781);
}

.user_area{
    text-align: center;
    position: relative;
    top: 5px;
    left: 40px;
    width: 950px;
    height: 658px;
    background-color: rgb(66, 106, 151);
    float: left;
    box-shadow: 2px 2px 2px rgba(167, 165, 165, 0.781);
}

#filme_edit{
    position: relative;
    
    bottom: 10px;
    margin-top: 20px;
    width: 800px;
    height: 400px;
    padding: 1em;
}

#livro_edit{
    position: relative;
    
    bottom: 10px;
    margin-top: 20px;
    width: 800px;
    height: 400px;
    padding: 1em;
}

table{
    position: relative;
    left: 35px;
    border: 5px;
    border-color: rgb(75, 74, 74);
    overflow: auto;
}

.tdth_normal{
    width: 100px;
    height: 5px;
}

.del, #edit{
    width: 20px;
    height: 5px;
}

.liMenu{
    border: 1px solid rgba(255, 255, 255, 0.274);
}

.tdth_normal{
    border: 1px solid rgb(37, 37, 37);
}

.btn_crud{
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 17px;
    color: white;
    background-color:  rgba(18, 56, 68, 0.938);
    border-radius: 4px;
    border: none;
}

.btn_crud:hover{
    background-color:  rgba(31, 95, 114, 0.938);
    box-shadow: 1px 1px 1px rgb(151, 147, 147);
    transition: 1s;
}

#tabela{ /*de fora*/
    border: 1px solid rgb(37, 37, 37);
}

/**/

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
*{
		margin: 0;
		padding: 0;
}


.nav_tabs{
		width: 900px;
		height: 600px;
		margin: 30px auto;
		background-color: #fff;
		position: relative;
}

.nav_tabs ul{
		list-style: none;
}

.nav_tabs ul li{
		float: left;
}

.tab_label{
		display: block;
		width: 100px;
		background-color: #363b48;
		padding: 25px;
		font-size: 20px;
		color:#fff;
		cursor: pointer;
		text-align: center;
}


.nav_tabs .rd_tab { 
	display:none;
	position: absolute;
}

.nav_tabs .rd_tab:checked ~ label { 
	background-color: #356b9ece;
	color:#fff;}

.tab-content{
	border-top: solid 5px #336dd8dc;
	background-color: #fff;
	display: none;
	position: absolute;
	height: 320px;
	width: 600px;
	left: 0;	
}

.rd_tab:checked ~ .tab-content{
	display: block;
}
