@charset "UTF-8";

body{
    background-color: rgb(250, 245, 245);
    position: relative; 
    
}

header#cabecalho{
    margin: -14px auto 30px auto;
    width: 1250px;/* 1250 */
    height: 80px;
    background-image: url('../_imagens/new.jpeg');
    background-repeat: no-repeat;
    
   /* background-color: rgb(255, 255, 255); */
    box-shadow: 2px 2px 2px rgba(167, 165, 165, 0.781);
}

header#cabecalho img{ /* a imagem da lupa*/
    position: relative;
    width: 25px;
    top: -2px;
    left: 602px;
}
::placeholder{ /* mudando a cor dos text, esta geral*/
    color: white;

}

nav#menu {
  display: block;
}

nav#menu ol{
    position: relative;
    list-style: none;
    top: 30px;
    
}

nav#menu li{
    position: relative;
    display: inline-block;
    margin-right: 15px;
    background-color:  rgba(18, 56, 68, 0.938);
    color: white;
    padding: 4px;
    border-radius: 4px;
}
nav#menu li:hover{
    background-color:  rgba(23, 72, 87, 0.938);
}

a{
    color: rgba(245, 245, 245, 0.658);
    text-decoration: none;
}

nav#menu a{
    color: white;
}

nav#menu li#btn_login{ /* ajustando o botão de login no canto superior*/
    left: 900px; /* 800 */
    border-radius: 10px;
    width: 60px;
    text-align: center;
}


nav#menu input#txtFld_pesquisar{ /* caxa de pesquisa*/
    position: relative;
    top: -10px;
    left: 600px;
    border-radius: 3px;
    border-color: rgba(99, 97, 97, 0.692);
    width: 200px;
    height: 20px;
    background: transparent;
}

section#corpo{ /* cuidando do corpo do A PARTE SUGESÕES*/
    display: block;
    float: left;
    width: 500px;
    height: 440px;
    box-shadow: 2px 2px 2px 2px rgba(167, 165, 165, 0.781);
    margin-top: 20px;
    margin-left: 50px;
    padding-top: 6px;

}

h2{ /* TRATANDO TODOS OS TITULOS H2 DO SITE, SUGESTOES, GENEROS ETC...*/
    padding: 4px;
    border-width: 2px;
    border-color: white;
    background-color: rgba(18, 56, 68, 0.938);
    box-shadow: 2px 2px 2px rgb(175, 171, 171);
    color: white;
    width: 480px;
    height: 30px;
    margin: auto;
}


aside#lateral{
    margin-top: 20px;
    margin-left: 100px;
    display: block;
    position: relative;
    float: left;

}

div#generos{
    padding-top: 10px;
    width: 600px;
    height: 160px;
    box-shadow: 2px 2px 2px 2px rgba(167, 165, 165, 0.781);
}

div#sobre_nos{
    margin-top: 65px;
    padding-top: 10px;
    width: 600px;
    height: 200px;
    box-shadow: 2px 2px 2px 2px rgba(167, 165, 165, 0.781);
}

div#generos h2{
    /*text-decoration: none; */
    width: 580px;
}
div#generos a{ /*tirando o sublinhado da palavra GENERO*/
    text-decoration: none;
}

div#sobre_nos h2{
    width: 580px
}

footer#rodape{
    /* 1250*/
    margin: auto;
    height: 50px;
    clear:both;
    border-top: 1px solid grey;

}