@charset "UTF-8";

body{
     background: url('../_imagens/AdobeStock_197268654_Preview.jpeg') ; 
  /*  background-repeat: no-repeat; */
    
}

section#id_login{
    margin: 30px auto 30px auto; 
    width: 360px;
    height: 420px;
    box-shadow: 1px 1px 1px rgb(151, 147, 147);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; 
    padding: 10px;
    background-color: rgba(100, 98, 98, 0.2);
}

section#id_login:hover{
    background-color: rgba(100, 98, 98, 0.5);
    transition: 1s;
}

fieldset{ /* borda do fieldset*/
    border: none;
}

ul{ /* tirando os pontos das listas sem uso*/ 
    list-style: none;
}

button{ /* ajustando os botões*/
    width: 160px;
    height: 30px;
    margin-bottom: 10px;
}

div#dv_entrar{
    margin-bottom: 10px;
    height: 200px;
    border-bottom: 1px solid rgb(194, 188, 188);
 }


div#dv_registro ul{ /* cuidand dos bottons / facebook etc..*/
    margin-top: 40px;
    position: relative;
}

div#dv_registro li{
    margin-bottom: 10px;
}

div#dv_entrar p{
    text-align: center;
    text-decoration: underline white;
}

div#dv_entrar label{
        color: white;
}

div#dv_entrar input{
    background: transparent;
    margin-top: 4px;
    width: 220px;
    height: 25px;
}
