<!DOCTYPE html>
<html>

<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
    <link rel="icon"  href="https://i.ibb.co/5kX6vJr/tehei-icon.jpg" alt="tehei-icon">
    <link rel='stylesheet' href="/css/loginregister.css" type="text/css"/>
    <link rel="stylesheet" href="/css/home.css" type="text/css"/>


</head>


<body>
    <main id="bodyMain">
        <header>
            <% include ../header.ejs %>
        </header>
        <section>
            <div id="tela">
                <div id="register">
                    <h1 class="title"> Registrar-se</h1>

                    <form action="/usuario/create" method="post">
                        <label for="cNome" class="lbl_user"> Nome* </label><input id="cNome" class="txtFld_user" type="text" name="nome"
                        placeholder="Seu nome">
                        <br>
                    
                        <label for="cEmail" class="lbl_user"> Email* </label><input id="cEmail" class="txtFld_user" type="text" name="email"  placeholder="Seu Email">
                        <br>
                    
                        <label for="cSenha" class="lbl_user"> Senha* </label><input id="cSenha" class="txtFld_user" type="password" name="senha"
                        placeholder="Sua senha">
                        <br>
                
                        <button class="btn_user" type="submit">Confirmar </button>
                        <div id="erro">
                            <p><%= message %></p>
                        </div>
                    

                    </form>
                </div>
            </div>
             
    </main>
    <footer>
                <% include ../footer.ejs %>
    </footer>
   
</body>

</html>